{% extends 'base.html' %}
{% block body_block %}
<h2 class="text-center">welcome {{request.user}}</h2>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-dark d-block mx-auto pt-1 pb-1 ps-3 pe-3 mb-3" value="Post">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        {% for qs in questions %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                {% if qs.images %}
                <img src="{{qs.images.url}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <div class="small text-muted">{{qs.qs_created_date}}</div>
                  <h5 class="card-title">{{qs.question}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'qsdetail' qs.id %}" class="btn btn-primary">read more</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}
